body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #181818; 
    color: white;
}

.container {
    text-align: center;
    background-color: #000000; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.stopwatch {
    margin: 20px 0;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff9900; 
}

.buttons button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#startStopBtn {
    background-color: #ff9900; 
    color: black;
}

#resetBtn {
    background-color: #ffffff; 
    color: black; 
}

#lapBtn {
    background-color: #ff9900; 
    color: black; 
}

.buttons button:hover {
    opacity: 0.8;
}

#laps {
    list-style: none;
    padding: 0;
}

#laps li {
    padding: 5px 0;
    border-bottom: 1px solid #333333; 
    color: #ff9900; 
}
